<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Demo</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width" />
<base href="/" />
<link rel="stylesheet" type="text/css"
    href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
    src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<!--    <nav class="navbar navbar-inverse navbar-fixed-top">-->
<!--        <div class="container">-->
<!--            <div class="navbar-header">-->
<!--                <button-->
<!--                    type="button"-->
<!--                    class="navbar-toggle collapsed"-->
<!--                    data-toggle="collapse"-->
<!--                    data-target="#navbar"-->
<!--                    aria-expanded="false"-->
<!--                    aria-controls="navbar"-->
<!--                >-->
<!--                    <span class="sr-only">Toggle navigation</span>-->
<!--                    <span class="icon-bar"></span>-->
<!--                    <span class="icon-bar"></span>-->
<!--                    <span class="icon-bar"></span>-->
<!--                </button>-->
<!--                <a class="navbar-brand" href="#" th:href="@{/}">Login</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </nav>-->

    <div class="container unauthenticated">
        <div class="row">
            <div class ="col-md-6 col-md-offset-3">
                <h1> User Login Page</h1>
                <form th:action="@{/Login}" method="post">
                    <!-- error message -->
<!--                    <div th:if="${param.error}">-->
<!--                        <div class="alert alert-danger">-->
<!--                            Invalid username or password.-->
<!--                        </div>-->
<!--                    </div>-->
                    <!-- logout message -->
                    <div th:if="${param.logout}">
                        <div class="alert alert-info">
                            You have been logged out.
                        </div>
                    </div>
                    <div class = "form-group">
                        <label for = "username"> Username </label>:
                        <input
                            type="text"
                            class="form-control"
                            id="username"
                            name="username"
                            placeholder="Enter email"
                            autofocus="autofocus"
                        >

                        <div class = "form-group">
                            <label for = "password"> Password </label>:
                            <input
                                    type="password"
                                    class="form-control"
                                    id="password"
                                    name="password"
                                    placeholder="Enter password"
                                    autofocus="autofocus"
                            >
                        </div>
                        <div class = "form-group">
                            <div class="row">
                                <input
                                    type="submit"
                                    class="form-control btn btn-primary"
                                    id="login-submit"
                                    name="login-submit"
                                    value="Log In"
                                >
                            </div>
                        </div>
                        <div class = "form-group">
                            <div class ="row">
                                With Google: <a href="/oauth2/authorization/google">click here</a>
                            </div>
                        </div>
                        <div class = "form-group">
                            <div class ="row">
                                With Naver: <a href="/oauth2/authorization/naver">click here</a>
                            </div>
                        </div>
                        <div class = "form-group">
                            <div class ="row">
                                With Kakao: <a href="/oauth2/authorization/kakao">click here</a>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
<!--    <h1>Login</h1>-->
<!--    <div class="container unauthenticated">-->
<!--        <div>-->
<!--            With GitHub: <a href="/oauth2/authorization/github">click here</a>-->
<!--        </div>-->
<!--        <div>-->
<!--            With Google: <a href="/oauth2/authorization/google">click here</a>-->
<!--        </div>-->
<!--    </div>-->
    <div class="container authenticated" style="display: none">
        Logged in as: <span id="user"></span>
        <div>
            <button onClick="logout()" class="btn btn-primary">Logout</button>
        </div>
    </div>
    <script type="text/javascript" src="/webjars/js-cookie/js.cookie.js"></script>
    <script type="text/javascript">
<!--          The ajaxSetup() method in jQuery is used to set the default values for future AJAX requests.-->
          $.ajaxSetup({
<!--           beforeSend is a function which is to be run before the request is being sent.-->
            beforeSend : function(xhr, settings) {
                console.log("XHR:",xhr);
                console.log("settings",settings);

              if (settings.type == 'POST' || settings.type == 'PUT'
                  || settings.type == 'DELETE') {
                if (!(/^http:.*/.test(settings.url) || /^https:.*/
                    .test(settings.url))) {
                  // Only send the token to relative URLs i.e. locally.
                  xhr.setRequestHeader("X-XSRF-TOKEN", Cookies
                      .get('XSRF-TOKEN'));
                }
              }
            }
          });
          $.get("/user", function(data) {
            console.log("DATA", data);
<!--              this line displays user's name when logged in-->
              $("#user").html(data.name);
              $(".unauthenticated").hide();
              $(".authenticated").show();
          });
          var logout = function() {
            $.post("/logout", function() {
              $("#user").html('');
              $(".unauthenticated").show();
              $(".authenticated").hide();
            })
            return true;
          }
        </script>
</body>
</html>